@import '../../../variables.scss';

.dialog-header{
  background-color: $primary;
  display: flex;
  align-items: center;
  color: $white;
  padding: 5px 20px;
  h2{
    margin: 0;
  }

  button{
    display: flex;
    justify-content: center;
  }
}

mat-dialog-content{
  margin: 0;
  padding: 0;
  mat-card{
    padding: 0;
    margin: 20px;
    max-height: 500px;
    overflow-y: auto;

    mat-card-content{
      padding: 20px;
      form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        mat-form-field{
          width: 47%;
        }
      }
    }
  }
}

mat-dialog-actions{
  padding: 0;
  margin: 20px;
}
