@import '../../../variables.scss';

.dialog-header{
  background-color: $primary;
  display: flex;
  align-items: center;
  color: $white;
  padding: 5px 20px;
  h2{
    margin: 0;
  }

  button{
    display: flex;
    justify-content: center;
  }
}

mat-dialog-content{
  margin: 0;
  padding: 20px;
  .itemWrapper{
    width: 100%;
    margin: 20px 0;
    .row{
      display: flex;
      align-items: center;
      .col{

        &.name{
          width: 50%;
        }

        &.unit-price{
          width: 10%;
        }

        &.total-price{
          width: 15%;
        }

        &.multiplier{
          width: 5%;
          margin: 0 auto;
        }

        &.actions{
          display: flex;
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
        }


      }
    }
  }



  .tableHeader{
    display: flex;
    .unit-price{
      width: 18%;
      margin: 0;
    }
    .total-price{
      width: 27%;
      margin: 0;
    }
  }

  .footer-wrapper{
    display: flex;
    flex-direction: column;
    h4, h3{
      margin: 0;
    }
    .total-title, .total-values{
      display: flex;
      justify-content: space-between;
      margin: 0 20px;
    }

    .total-values{
      h4{
        border-radius: 5px;
        border: 1px solid black;
        width: 20%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .paidInput{
        width: 50%;
      }
    }
  }

}

mat-dialog-actions{
  padding: 0;
  margin: 20px;

  button{
    width: 48%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


